/* футерсько-подвальне начало */
.footer-copyright {
    padding: 100px 0;
}

.parent-descr {
    margin-right: 120px;
}

.footer-descr {
    width: 264px;
}

.social-icon-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.subscribe-wripper {
    margin-left: auto;
}

.subscribe {
    gap: 24px;
}

.input-footer {
    width: 264px;
}

.submit-footer .form-icon-footer {
    fill: #FFFFFF;
    margin-left: 16px;

}



/* modal window */


.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(231, 233, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
    fill: #ffffff;
}

.modal-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    text-align: start;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    width: 100%;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within {
    border-color: #4D5AE5;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within .form-icon {
    fill: #4D5AE5;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.user-comment {
    height: 120px;
    width: 100%;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus-within {
    border-color: #4D5AE5;
}

.user-comment::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.check-form:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox-label {
    display: inline-block;
    gap: 2px;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.icon-done {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-form:checked+.form-label .icon-done {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.link-root {
    text-decoration: underline;
    color: #4D5AE5;
    line-height: 133%;
}

.submit-form {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form:hover,
.submit-form:focus {
    background-color: #404bbf;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}